.sidebar {
  
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    background: #0e0500;
    width: 300px;
    padding: 63px 30px 30px;
    z-index: 3;
  
    @media screen and (max-width: @screen-lg) {
      left: 50px;
    }
  
    @media screen and (max-width: @screen-md) {
      display: none;
      width: 100%;
      background: rgba(159, 176, 56, .95);
      top: 159px;
      left: 0;
      height: 350px;
      padding: 0;
    }
  }
  
  &__close {
    display: none;
  
    @media screen and (max-width: @screen-md) {
      display: block;
      position: absolute;
      right: 30px;
      top: 20px;
      background: url(../img/close-white.png) no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
    }
  }
  
  &__logo {
  
    @media screen and (max-width: @screen-md) {
      display: none;
    }
  }
  
  &__navigation {
    margin-top: 45px;
  
    @media screen and (max-width: @screen-md) {
      margin-top: 0;
      height: 350px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 30px;
    }
    
  }
  
  &__navigation-item {
    
    &:nth-child(n+2) {
      margin-top: 10px;
    }
  }
  
  &__link {
    color: #fff;
    font-family: @font-main;
    font-size: 20px;
    text-decoration: none;
    transition: @transition;
    
    &:hover {
      color: @color-main;
    }
  }
}