mixin sidebar(additionalClass)
  .sidebar(class=additionalClass)
    .wrapper
      .sidebar__content
        a.logo.sidebar__logo(href="index.html") Снабженец
        ul.sidebar__navigation
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Сухие смеси
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Цемент
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Штукатурка
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Шпатлевка
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Плиточный клей
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Смесь для гидроизоляции
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Наливные полы
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Гипс, алебастр
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Пазогребневые плиты
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Пескобетон
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Клей для блоков
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Противоморозные добавки
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Гипсокартон
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Керамзит
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Грунтовка
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Строительный песок
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Сухой бетон
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Известь
          li.sidebar__navigation-item
            a.sidebar__link(href="#") Щебень