.sidebar {
  
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    background: #0e0500;
    width: 300px;
    padding: 63px 30px 30px;
    z-index: 3;
  }
  
  &__navigation {
    margin-top: 45px;
  }
  
  &__navigation-item {
    
    &:nth-child(n+2) {
      margin-top: 10px;
    }
  }
  
  &__link {
    color: #fff;
    font-family: @font-main;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    transition: @transition;
    letter-spacing: .3px;
    
    &:hover {
      color: @color-main;
    }
  }
}