include ../blocks/wrapper/wrapper.pug
include ../blocks/header/header.pug
include ../blocks/contacts/contacts.pug
include ../blocks/menu/menu.pug
include ../blocks/button/button.pug
include ../blocks/sidebar/sidebar.pug
include ../blocks/logo/logo.pug
include ../blocks/front/front.pug
include ../blocks/content/content.pug
include ../blocks/text-common/text-common.pug
include ../blocks/header-common/header-common.pug
include ../blocks/popular/popular.pug
include ../blocks/footer/footer.pug
include ../blocks/developer/developer.pug
include ../blocks/page/page.pug
include ../blocks/article/article.pug
include ../blocks/map/map.pug
include ../blocks/catalog/catalog.pug
include ../blocks/item/item.pug
include ../blocks/quantity/quantity.pug
include ../blocks/product-controls/product-controls.pug
