include ../blocks/wrapper/wrapper.pug
include ../blocks/header/header.pug
include ../blocks/contacts/contacts.pug
include ../blocks/menu/menu.pug
include ../blocks/button/button.pug
include ../blocks/sidebar/sidebar.pug
include ../blocks/logo/logo.pug
include ../blocks/front/front.pug
