mixin breadcrumbs(additionalClass)
  .breadcrumbs(class=additionalClass)
    .breadcrumbs__item(href="#")
      a.breadcrumbs__item-link(href="#") Главная
    .breadcrumbs__item(href="#")
      a.breadcrumbs__item-link(href="#") Сухие смеси