.breadcrumbs {
  margin-bottom: 18px;
  
  &__item {
    color: #000;
    opacity: .3;
    font-family: @font-main;
    font-size: 17px;
    text-decoration: none;
    
    &:hover {
      opacity: 1;
      
      &:before {
        opacity: .3;
      }
    }
    
    &:nth-child(n+2) {
      
      &:before {
        content: '|';
        display: inline-block;
        margin: 0 4px;
      }
    }
  }
}
