mixin customer(additionalClass)
  .customer(class=additionalClass)
    h3.header-common.header-common--small Информация о покупателе
    .form-item
      .form-item__header Ф.И.О.*
      input.input(type="text" name="name")
    .form-item
      .form-item__header Телефон*
      input.input(type="text" name="phone")
    .form-item
      .form-item__header E-mail*
      input.input(type="email" name="email")
    .form-item
      .form-item__header Адрес доставки
      input.input(type="text" name="address")
    .form-item
      .form-item__header Комментарий к заказу*
      textarea.input.input--textarea(name="comment")
      