.info {
  margin-top: 60px;
  margin-bottom: 53px;
  
  &__item {
    display: none;
    position: relative;
    z-index: 2;
    background: #fff;
    padding-top: 30px;
    
    &--about {
      padding-top: 33px;
    }
    
    &--active {
      display: block;
    }
  }
  
  &__text-item {
    color: #2b2a29;
    font-family: @font-main;
    font-size: 17px;
    line-height: 20px;
    
    &:nth-child(n+2) {
      margin-top: 20px;
    }
  }
  
  &__table {
    width: 100%;
  }
  
  &__table-row {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    
    &:last-child {
      border-bottom: 0;
    }
  }
  
  &__table-item {
    height: 29px;
    line-height: 20px;
    padding: 3px 15px 6px 0;
    
    &:first-child {
      color: #2b2a29;
      font-family: @font-main;
      font-size: 17px;
      font-weight: 700;
      border-right: 1px solid rgba(0, 0, 0, .1);
    }
    
    &:last-child {
      color: #2b2a29;
      font-family: @font-main;
      font-size: 17px;
      padding-left: 10px;
    }
  }
}
