mixin info(additionalClass)
  .info(class=additionalClass)
    +tabs
    table.info__table
      tr.info__table-row
        td.info__table-item Расход воды:
        td.info__table-item Easy
      tr.info__table-row
        td.info__table-item Минимальная толщина слоя:
        td.info__table-item 30371
      tr.info__table-row
        td.info__table-item Время использования  при периодическом размешивании:
        td.info__table-item Встраиваемый 1&2&3 дорожки
      tr.info__table-row
        td.info__table-item Порт COM:
        td.info__table-item 3