mixin item(picture, header, dscr, price, additionalClass)
  .item(class=additionalClass)
    a.item__link(href="#")
      img.item__picture(src="img/"+picture, alt="product", width="100", height="147")
    .item__content
      a.item__header(href="#") #{header}
      p.item__dscr #{dscr}
      +product-controls(price, 'item__product-controls')