mixin footer(additionalClass)
  .footer(class=additionalClass)
    .wrapper.footer__wrapper
      a.logo.footer__logo(href="index.html")
      .footer__right
        +contacts('contacts--white')
        .developer.footer__developer Разработано в&nbsp;
          a.developer__link(href="#") ARLIX