.order {
  
  &__form {
    margin-top: 39px;
  }
  
  &__payment {
    margin-top: 47px;
  }
  
  &__delivery {
    margin-top: 40px;
  }
  
  &__radio-container {
    display: flex;
    margin-top: 43px;
  }
  
  &__button {
    width: 200px;
    height: 30px;
    line-height: 26px;
    margin-top: 45px;
    float: right;
    padding-bottom: 5px;
  }
}
