mixin tabs(additionalClass)
 ul.tabs(class=additionalClass)
   li.tabs__item.tabs__item--active.tabs__item--about
     a.tabs__item-link(href="#") Описание
   li.tabs__item.tabs__item--characteristics
     a.tabs__item-link(href="#") Характеристики
   li.tabs__item
     a.tabs__item-link(href="#") Использование
   li.tabs__item
     a.tabs__item-link(href="#") Рекомендации