doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    .page
      +sidebar
      +header('header--inner')
      .content
        .wrapper.content__wrapper
          article.article
            h2.header-common О компании
            p.text-common Более 15 лет назад начала свою деятельность отечественная производственная компания «Русеан», войдя на рынок строительных материалов в конкретный сегмент, основополагающей продукцией, которого являлись на тот момент немодифицированные сухие смеси.
            p.text-common Строительные материалы «Русеан» — это высококачественные товары по доступной цене для преимущественного большинства пользователей. Именно это позволило компании завоевать любовь и доверие отечественного потребителя, выдержать жесткие условия конкуренции и уверенно удерживать лидирующие позиции в списках потребительских предпочтений.
          article.article
            h2.header-common.header-common--small Подзаголовок
            p.text-common Строительные материалы «Русеан» — это высококачественные товары по доступной цене для преимущественного большинства пользователей. Именно это позволило компании завоевать любовь и доверие отечественного потребителя, выдержать жесткие условия конкуренции и уверенно удерживать лидирующие позиции в списках потребительских предпочтений.
    +modal-call
    +modal-cart
    +footer
    include ../templates/scripts.pug