doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    .grid
    .page
      +sidebar
      +header('header--inner')
      .content
        .wrapper.content__wrapper.content__wrapper--catalog
          article.article.article--page
            h1.header-common Сухие смеси
            p.text-common Более 15 лет назад начала свою деятельность отечественная производственная компания «Русеан», войдя на рынок строительных материалов в конкретный сегмент, основополагающей продукцией, которого являлись на тот момент немодифицированные сухие смеси.
          .catalog
            +item('item-1.png', 'Смесь сухая универсальная М-150', 'Смесь для наружной и внутренней отделки. Универсальная сухая смесь М-150 предназначена для штукатурки полов и потолков, выравнивания поверхности под керамическую плитку и обработки швов. Частичное схватывание занимает 45 минут, полную прочность раствор набирает в течение 4 недель.', '125.00')
            +item('item-2.png', 'Смесь сухая универсальная М-150 модифицированная', 'Изготавливается на основе высококачественного портландцемента, в качестве заполнителя используется речной песок. Сухая смесь М-150 модифицированная имеет широкую область применения.', '135.00')
            +item('item-3.png', 'Монтажная сухая смесь  М-200', 'Состав на основе портландцемента и кварцевым песком в качестве заполнителя может использоваться в качестве кладочного раствора для кирпича или бетонных блоков. Помимо этого монтажная сухая смесь М-200 применяется при заделке трещин и стыков. После нанесения покрытие не дает усадки и устойчиво к изменениям температурного и влажного режима. Для улучшения характеристик сухой смеси используют модификаторы.', '135.00')
            +item('item-4.png', 'Сухая смесь Plaster ручного нанесения', 'Раствор значительно повышает звукоизоляцию стен, улучшает микроклимат в помещении и безопасен для здоровья человека. В основе состава - гипсовое вяжущее, что позволяет обеспечить короткие сроки схватывания. Сухая смесь Plaster ручного нанесения применяется в качестве чернового покрытия для отделки стен и устранения небольших неровностей. Работы по нанесению проводят при температуре от +5 до +30 С.', '270.00')
            .catalog__dscr.text-common Более 15 лет назад начала свою деятельность отечественная производственная компания «Русеан», войдя на рынок строительных материалов в конкретный сегмент, основополагающей продукцией, которого являлись на тот момент немодифицированные сухие смеси.
    +modal-call
    +modal-cart
    +footer
    include ../templates/scripts.pug