doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    .page
      +sidebar
      +header('header--inner')
      .content
        .wrapper.content__wrapper
          article.article
            h2.header-common Сухие смеси
            p.text-common Более 15 лет назад начала свою деятельность отечественная производственная компания «Русеан», войдя на рынок строительных материалов в конкретный сегмент, основополагающей продукцией, которого являлись на тот момент немодифицированные сухие смеси.
          .catalog
            .item
              img.item__picture(src="img/item-1.jpg" alt="product" width="100" height="147")
              .item__content
                a.item__header(href="#") Смесь сухая универсальная М-150
                p.item__dscr Смесь для наружной и внутренней отделки. Универсальная сухая смесь М-150 предназначена для штукатурки полов и потолков, выравнивания поверхности под керамическую плитку и обработки швов. Частичное схватывание занимает 45 минут, полную прочность раствор набирает в течение 4 недель.
                .item__bottom
                  .item__price 125.00 руб.
                  form.quantity(action="#" method="get")
                    a.quantity__button.quantity__button--less(href="#") -
                    input.quantity__input(value="1" name="quantity")
                    a.quantity__button.quantity__button--more(href="#") +
                  a.button.item__button(href="#") в корзину
            .item
              img.item__picture(src="img/item-2.jpg" alt="product" width="100" height="147")
              .item__content
                a.item__header(href="#") Смесь сухая универсальная М-150 модифицированная
                p.item__dscr Изготавливается на основе высококачественного портландцемента, в качестве заполнителя используется речной песок. Сухая смесь М-150 модифицированная имеет широкую область применения.
                .item__bottom
                  .item__price 135.00 руб.
                  form.quantity(action="#" method="get")
                    a.quantity__button.quantity__button--less(href="#") -
                    input.quantity__input(value="1" name="quantity")
                    a.quantity__button.quantity__button--more(href="#") +
                  a.button.item__button(href="#") в корзину
            .item
              img.item__picture(src="img/item-3.jpg" alt="product" width="100" height="147")
              .item__content
                a.item__header(href="#") Монтажная сухая смесь  М-200
                p.item__dscr Состав на основе портландцемента и кварцевым песком в качестве заполнителя может использоваться в качестве кладочного раствора для кирпича или бетонных блоков. Помимо этого монтажная сухая смесь М-200 применяется при заделке трещин и стыков. После нанесения покрытие не дает усадки и устойчиво к изменениям температурного и влажного режима. Для улучшения характеристик сухой смеси используют модификаторы.
                .item__bottom
                  .item__price 135.00 руб.
                  form.quantity(action="#" method="get")
                    a.quantity__button.quantity__button--less(href="#") -
                    input.quantity__input(value="1" name="quantity")
                    a.quantity__button.quantity__button--more(href="#") +
                  a.button.item__button(href="#") в корзину
            .item
              img.item__picture(src="img/item-4.jpg" alt="product" width="100" height="147")
              .item__content
                a.item__header(href="#") Сухая смесь Plaster ручного нанесения
                p.item__dscr Раствор значительно повышает звукоизоляцию стен, улучшает микроклимат в помещении и безопасен для здоровья человека. В основе состава - гипсовое вяжущее, что позволяет обеспечить короткие сроки схватывания. Сухая смесь Plaster ручного нанесения применяется в качестве чернового покрытия для отделки стен и устранения небольших неровностей. Работы по нанесению проводят при температуре от +5 до +30 С.
                .item__bottom
                  .item__price 270.00 руб.
                  form.quantity(action="#" method="get")
                    a.quantity__button.quantity__button--less(href="#") -
                    input.quantity__input(value="1" name="quantity")
                    a.quantity__button.quantity__button--more(href="#") +
                  a.button.item__button(href="#") в корзину
    +footer
    include ../templates/scripts.pug