doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +sidebar
    +header
    +front
    .content
      .wrapper.content__wrapper
        .header-common.content__header ООО «Снабженец»
        .text-common.content__text Более 15 лет назад начала свою деятельность отечественная производственная компания «Русеан», войдя на рынок строительных материалов в конкретный сегмент, основополагающей продукцией, которого являлись на тот момент немодифицированные сухие смеси.  В то время, это  было наиболее правильное и рациональное решение руководства компании в силу сложившейся жесткой, большой конкуренции и сформировавшейся рыночной конъюнктуры. Выпускаемые сухие смеси принесли предприятию репутацию хорошего, добросовестного производителя, должный успех и известность компании.
        +popular('content__popular')
    +footer
    include ../templates/scripts.pug