doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    .page
      +sidebar
      +header
      +front
      .content.content--main
        .wrapper.content__wrapper
          h2.header-common ООО «Снабженец»
          p.text-common Более 15 лет назад начала свою деятельность отечественная производственная компания «Русеан», войдя на рынок строительных материалов в конкретный сегмент, основополагающей продукцией, которого являлись на тот момент немодифицированные сухие смеси.  В то время, это  было наиболее правильное и рациональное решение руководства компании в силу сложившейся жесткой, большой конкуренции и сформировавшейся рыночной конъюнктуры. Выпускаемые сухие смеси принесли предприятию репутацию хорошего, добросовестного
          +popular('content__popular')
    +footer
    +modal-call
    +modal-cart
    include ../templates/scripts.pug