doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    .page
      +sidebar
      +header('header--inner')
      .content.order
        .wrapper.content__wrapper
          h2.header-common.header-common--order Оформление заказа
          +cart-table
          form.order__form(action="#" method="post")
            +customer
            .order__payment
              h2.header-common.header-common--small Оплата заказа
              .order__radio-container
                .radiobutton-item
                  +radiobutton('cash', 'payment', 'checked')
                  .radiobutton-item__content
                    label.radiobutton-item__label(for="cash") Наличными
                    p.radiobutton-item__comment Оплата наличными при получении заказа.
                .radiobutton-item
                  +radiobutton('nonCash', 'payment', false)
                  .radiobutton-item__content
                    label.radiobutton-item__label(for="nonCash") Безналичный расчёт
                    p.radiobutton-item__comment Обращаем Ваше внимание, что ФИО получателя заказа должны совпадать с ФИО владельца платёжной карты.
            .order__delivery
              h2.header-common.header-common--small Доставка
              .order__radio-container
                .radiobutton-item
                  +radiobutton('moscow', 'delivery', 'checked')
                  .radiobutton-item__content
                    label.radiobutton-item__label(for="moscow") Доставка курьером по Москве (внутри МКАД)
                    p.radiobutton-item__comment Стоимость: 0 руб. (при заказе от 1000кг или при заказе на сумму свыше 100 000 руб.). Доставка по Москве осуществляется в течение 1-2 дней по будням с 12.00 до 18.00.
                .radiobutton-item
                  +radiobutton('notMoscow', 'delivery', false)
                  .radiobutton-item__content
                    label.radiobutton-item__label(for="notMoscow") Доставка курьером по Москве и МО (за пределами МКАД)
                    p.radiobutton-item__comment Стоимость: 0 руб. (при заказе от 2000кг или при заказе на сумму свыше 200 000 руб.). Доставка по Москве осуществляется в течение 1-2 дней по будням с 12.00 до 18.00.
            button.button.order__button заказать
    +modal-call
    +modal-cart
    +footer
    include ../templates/scripts.pug