.front {
  position: relative;
  overflow: hidden;
  
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
  }
  
  &__item {
    background: url(../img/front-bg.jpg) no-repeat center;
    background-size: cover;
  }
  
  &__wrapper {
    padding: 207px 0 50px 355px;   
    display: flex;
    flex-direction: column;
  }
  
  &__top {
    display: flex;
    justify-content: space-between;
  }
  
  &__header {
    color: #fff;
    font-family: 'Snell Roundhand', 'Trebuchet MS', cursive;
    font-weight: 400;
    font-size: 100px;
    line-height: 75px;
    margin-top: 8px;
  }
  
  &__product {
    margin-right: 55px;
  }
  
  &__comment {
    font-size: 40px;
    font-family: @font-main;
    font-weight: 300;
    color: #fff;
    width: 100%;
    letter-spacing: .4px;
  }
  
  &__button {
    margin-top: 43px;
    height: 50px;
    width: 250px;
    line-height: 42px;
    align-self: flex-end;
  }
}