mixin front(additionalClass)
  .front(class=additionalClass)
    .wrapper.front__wrapper
      .front__top
        .front__header Только в октябре
        img.front__product(src="img/front-product.png" alt="Product")
      .front__comment Какая-то смесь по акции продаётся в половину стоимости!
      .button.button--transparent.front__button купить