mixin front(additionalClass)
  .front(class=additionalClass)
    .front__item
      .wrapper.front__wrapper
        .front__top
          .front__header Только <br> в октябре
          img.front__product(src="img/front-product.png" alt="Product" width="146" height="220")
        .front__comment Какая-то смесь по акции <br>продаётся в половину стоимости!
        a.button.button--transparent.front__button(href="#") купить