.cart {
  
  &__header {
    margin-bottom: 14px;
  }
  
  &__button {
    width: 200px;
    height: 30px;
    line-height: 26px;
    float: right;
    margin-top: 45px;
    
    @media screen and (max-width: @screen-sm) {
      margin-top: 20px;
    }
  }
}
