mixin product-controls(price, additionalClass)
  .product-controls(class=additionalClass)
    .product-controls__price #{price} 
      | руб.
    +quantity('1')
    a.button.product-controls__button(href="#") в корзину