.contacts {
  
  
  &__phone {
    font-size: 30px;
    font-weight: 800;
    font-family: @font-main;
    display: block;
    text-align: right;
    color: #000;
    text-decoration: none;
  }
  
  &__email {
    opacity: .3;
    font-family: @font-main;
    font-size: 20px;
    font-weight: 800;
    display: block;
    text-align: right;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
  }
}
