mixin contacts(additionalClass)
  .contacts(class=additionalClass)
    a.contacts__phone(href="tel:+7(915)375-66-66") +7 (915) 375-66-66
    a.contacts__email(href="mailto:troets@mail.ru") troets@mail.ru