mixin menu(additionalClass)
  ul.menu(class=additionalClass)
    li.menu__item
      a.menu__item-link(href="#") о компании
    li.menu__item
      a.menu__item-link(href="#") прайс-лист
    li.menu__item
      a.menu__item-link(href="#") доставка и оплата
    li.menu__item
      a.menu__item-link(href="#") сертификаты
    li.menu__item
      a.menu__item-link(href="#") контакты