.menu {
  border-top: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
  
  &__item {
    display: flex;
    padding-top: 13px;
    height: 50px;
    
    &:hover {
      position: relative;
      border-bottom: 5px solid #b2b2b2;
    }
  }
  
  &__item-link {
    color: #000;
    font-size: 20px;
    font-family: @font-main;
    display: block;
    text-decoration: none;
  }
}
