mixin menu(additionalClass)
  ul.menu(class=additionalClass)
    li.menu__item.menu__item--active
      a.menu__item-link(href="about.html") о компании
    li.menu__item
      a.menu__item-link(href="#") прайс-лист
    li.menu__item
      a.menu__item-link(href="order.html") доставка и оплата
    li.menu__item
      a.menu__item-link(href="#") сертификаты
    li.menu__item
      a.menu__item-link(href="contacts.html") контакты