mixin header(additionalClass)
  .header(class=additionalClass)
    .header__mobile
      a.header__mobile-button(href="#")
      .header__mobile-menu
        a.header__mobile-close(href="#")
        .header__mobile-menu-item.header__mobile-menu-item--navigation
          .header__mobile-menu-title меню
          ul.header__mobile-menu-content
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") О компании
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Прайс-лист
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Доставка и оплата
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Сертификаты
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Контакты
        .header__mobile-menu-item.header__mobile-menu-item--catalog
          .header__mobile-menu-title каталог
          ul.header__mobile-menu-content
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Сухие смеси
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Цемент
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Штукатурка
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Шпатлевка
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Плиточный клей
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Смесь для гидроизоляции
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Наливные полы
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Гипс, алебастр
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Пазогребневые плиты
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Пескобетон
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Клей для блоков
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Противоморозные добавки
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Гипсокартон
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Керамзит
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Грунтовка
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Строительный песок
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Сухой бетон
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Известь
            li.header__mobile-menu-item
              a.header__mobile-menu-link(href="#") Щебень
      a.header__mobile-cart.fancybox(href="#call")
        .header__mobile-cart-items 5 товаров
        .header__mobile-cart-icon
    .wrapper.header__wrapper
      .header__content
        .header__top-wrapper
          .header__device
            a.logo(href="index.html").header__logo
            a.header__sidebar-button(href="#") Каталог
          .header__top
            +contacts('header__contacts')
            .header__cart
              .header__cart-content
                |В корзине 
                span.header__cart-items 5
                |&nbsp;товаров: 
                span.header__cart-price 136950.00р
              a.button.header__button.fancybox(href="#call") оформить заказ
        +menu('header__menu')