.header {
  background: rgba(255, 255, 255, .7);
  position: absolute;
  width: 100%;
  z-index: 2;
    
  @media screen and (max-width: @screen-md) {
    position: static;
  }
  
  @media screen and (max-width: @screen-sm) {
    background: rgba(0, 0, 0, 0.05);
    padding: 29px 0 20px;
    position: static;
  }
  
  &--inner {
    position: static;
    
    .menu {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
  }
  
  &__wrapper {
    
    @media screen and (max-width: @screen-sm) {
      padding: 0;
    }
  }
  
  &__content {
    width: 100%;
    padding-left: 350px;
  
    @media screen and (max-width: @screen-md) {
      padding-left: 0;
    }
  }
  
  &__top-wrapper {
  
    @media screen and (max-width: @screen-md) {
      display: flex;
      justify-content: space-between;
      padding-top: 18px;
    }
  
    @media screen and (max-width: @screen-sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__device {
    display: none;
    
    @media screen and (max-width: @screen-md) {
      display: block;
    }
  }
  
  &__sidebar-button {
    display: flex;
    align-items: center;
    color: #000;
    font-family: @font-main;
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    text-decoration: none;
  
    @media screen and (max-width: @screen-sm) {
      display: none;
    }
    
    &:after {
      content: '';
      display: block;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAXCAMAAABODP0nAAAApVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABU/knhAAAANnRSTlMAAgMECAkLDQ4SFRcYGRocIDY4QExcZXB1eoWGh5SVlpecnaGjqa2xs7a5u77Dx8jz9PX3+v2MwxMLAAAAxklEQVQoz43R2VICMRhE4YOKogi4o0OURdxBjct5/0fzBqpwJpOhr7/6qzsBrqY0ZHwNcKF3eTfSSzj/VCc5F1SH7L+o3ta7QjWeQO/1N3czqMYBQGuuOq7tt3bQ/dCaRf8cdGZfaVly0FmY6hnKDnqP39XtRdXB7kPlZkg56C9L20dpB3vTn81FtQ4OlxuvlHFwNI/rniHnoP28+vci76C/UL0ZNjnYuXeVvIPu+3YODmZRjcc0ZvCm8bTZ0Tp72soB7ZT7AzOxKxa2gNHTAAAAAElFTkSuQmCC');
      background-size: cover;
      width: 20px;
      height: 12px;
      margin-left: 10px;
      margin-top: 5px;
    }
  }
  
  &__logo {
    
  }
  
  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
  
    @media screen and (max-width: @screen-md) {
      flex-flow: column nowrap;
      padding-top: 0;
    }
  
    @media screen and (max-width: @screen-sm) {
      margin-top: 8px;
    }
  }
  
  &__cart {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
    @media screen and (max-width: @screen-md) {
      margin-top: 20px;
    }
  
    @media screen and (max-width: @screen-sm) {
      display: none;
    }
  }
  
  &__cart-content {
    text-align: right;
    color: #000;
    font-family: @font-main;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 7px;
  }
  
  &__cart-items {
    
  }
  
  &__cart-price {
    
  }
  
  &__menu {
    margin-top: 14px;
  }
  
  &__button {
    width: 200px;
    height: 30px;
    line-height: 26px;
  }
  
  &__mobile {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    background: @color-main;
    display: none;
  
    @media screen and (max-width: @screen-sm) {
      display: flex;
    }
  }
  
  &__mobile-button {
    background: url(../img/icon-menu.png) no-repeat;
    background-size: cover;
    width: 20px;
    height: 16px;
    display: block;
  }
  
  &__mobile-cart {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  &__mobile-cart-items {
    opacity: .5;
    color: #fff;
    font-family: @font-main;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: underline;
  }
  
  &__mobile-cart-icon {
    background: url(../img/icon-cart.png) no-repeat;
    background-size: cover;
    width: 24px;
    height: 21px;
  }
  
  &__mobile-menu {
    display: none;
    background: @color-main;
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: auto;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 50px 20px 20px;
    
    &--active {
      display: flex;
      flex-direction: column;
    }
  }
    
  &__mobile-menu-item {

    &--navigation {

    }

    &--catalog {
      align-self: flex-end;
      text-align: right;
    }
  }

  &__mobile-menu-title {
    opacity: .3;
    color: #fff;
    font-family: @font-main;
    font-size: 20px;
    line-height: 30px;
  }

  &__mobile-menu-content {

  }

  &__mobile-menu-item {

    &:nth-child(n+2) {
      margin-top: 10px;
    }
  }

  &__mobile-menu-link {
    color: #fff;
    font-size: 20px;
    font-family: @font-main;
    text-decoration: none;
  }

  &__mobile-close {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    background: url(../img/close-white.png) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    z-index: 10;
  }
}