.header {
  background: rgba(255, 255, 255, .7);
  
  &__wrapper {
    height: 150px;
  }
  
  &__content {
    width: 100%;
    position: absolute;
    padding-left: 350px;
    top: 0;
  }
  
  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
  }
  
  &__cart {
    margin-top: 3px;
  }
  
  &__cart-content {
    text-align: right;
    color: #000;
    font-family: @font-main;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 7px;
  }
  
  &__cart-items {
    
  }
  
  &__cart-price {
    
  }
  
  &__menu {
    margin-top: 20px;
  }
}