mixin product(additionalClass)
  .product(class=additionalClass)
    h1.product__header Смесь сухая универсальная М-150 модифицированная
    .product__wrapper
      img.product__picture(src="img/product-1.jpg" alt="Product" width="146" height="220")
      .product__content
        .product__dscr.text-common Более 15 лет назад начала свою деятельность отечественная производственная компания «Русеан», войдя на рынок строительных материалов в конкретный сегмент, основополагающей продукцией, которого являлись на тот момент немодифицированные сухие смеси.
        +product-controls("125.00", 'product__product-controls')