.product {
  
  &__header {
    color: #000;
    font-family: @font-main;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 45px;
  }
  
  &__wrapper {
    display: flex;
  }
  
  &__picture {
    margin-right: 55px;
  }
  
  &__content {

  }
  
  &__dscr {
    margin-bottom: 44px;
  }
  
  &__product-controls {
    justify-content: flex-start;
    white-space: nowrap;
    
    .product-controls__price {
      margin-right: 92px;
    }
  }
}